@import url('https://fonts.googleapis.com/css?family=Krona+One');

@media only screen and (max-width: 500px) {
	*{
	max-height: 100vw;
	max-width: 100vw;
	font-size: 50%;
	
	}
	.container{
	grid-template-rows: 13 rem 1fr;
	grid-auto-flow: column;
	}
	
	header {
		display: flex;
		flex-wrap: wrap;
		/* 		justify-content: center; */
		/* 		align-items: center; */}

/* 	div::after { */
/* 		background-size: 100vw, 100vh; */
/* 	} */
}

* {
	max-width: 100vw;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	opacity: 1;
	-webkit-text-stroke: .001rem #1B212B;
	font-family: 'Krona One', sans-serif;
}

a:link {
	color: #76818d;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: #314457;
	font-size: 3.8rem;
	font-weight: bold;
	font-style: italic;
}

.container {
	display: grid;
	grid-template-rows: 16rem 1fr;
	height: 100vh;
	grid-gap: 1rem;
}

header:hover {
	background-image: url(/images/stars.png);
	margin-top: 1rem;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-text-stroke: 0;
}

div::after {
	content: "";
	opacity: .55;
	background-image: url(/images/keys2.jpg);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: -1;
}

section {
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 22rem;
}

h1 {
	color: lightgrey;
	font-size: 4.5rem;
}

h2 {
	color: lightgrey;
	font-size: 4rem;
	margin-bottom: 1.75rem;
}

li {
	color: grey;
	font-size: 3.75rem;
	margin-left: 14rem;
	list-style-type: none;
	font-style: none;
	margin-bottom: 1rem;
	font-weight: bold;
	margin-bottom: 1rem;
}