@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
	font-family: 'Fjalla One', sans-serif;
	max-width: 100vw;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	opacity: 1;
	-webkit-text-stroke: .001rem #1B212B;
}

a:link {
	color: #141420;
}

a:visited {
	color: white;
}

a:hover {
	color: darkgrey;
	font-size: 3.75rem;
	font-weight: bold;
}

.container {
	display: grid;
	grid-template-rows: 18rem 1fr;
	height: 100vh;
	grid-gap: 1rem;
}

header:hover {
	background-image: url(/images/stars.png);
	margin-top: 1rem;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

div::after {
	content: "";
	opacity: .55;
	background-image: url(/images/keys2.jpg);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
}

section {
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 22rem;
	font-family: 'Ubuntu', sans-serif;
}

a:link {
	text-decoration: none;
}

h1 {
	color: lightgrey;
	font-size: 5rem;
}

h2 {
	color: lightgrey;
	font-size: 4.3rem;
	font-style: italic;
}

li {
	color: grey;
	font-size: 4rem;
	margin-left: 12rem;
	list-style-type: none;
	font-style: italic;
	margin-bottom: 1rem;
	font-weight: bold;
	-webkit-text-stroke: .01rem darkslategrey;
}