@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@media only screen and (max-width: 600px) {
	/* 	* { */
	/* 				max-width: 600px; */
	/* 		margin-left: 15rem; */
	/* 		margin-right: 15rem; */
	/* 	} */
	.container {
		display: grid;
		/* grid-template-rows: 1fr 1fr 2.5rem; */
		margin-top: 3rem;

		/* 	height: 100vh; */
	}
	header {
		justify-content: flex-end;
		/* height: 20rem; */
		font-size: 2em;
		/* align-items: stretch; */
	}
	h1{
	font-size: 1em;}
	/* 	header { */
	/* 		display: flex; */
	/* 		flex-direction: column; */
	/* 		width: 50%; */
	/* 		justify-content: center: */
	/* 	} */
	/* 	header{ */
	/* 	width: 50%; */
	/* 	} */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Khula', sans-serif;
	max-width: 100vw;
	font-family: 'Ubuntu', sans-serif;
	background-image: url(/images/stars.png);
	background-color: #1A242E;
}

a:link {
	text-decoration: none;
	color: lightgrey;
}

a:hover {
	color: gold;
}

a:visited {
	color: white;
}

img {
	width: 25rem;
	height: 12rem;
	box-shadow: .01rem .01rem .1rem gold;
}

h1 {
	font-size: 3.45rem;
}

.container {
	display: grid;
	grid-template-rows: 6rem 1fr 2.5rem;
	height: 100vh;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	padding-top: .5rem;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	font-size: 1.5rem;
}

ul {
	align-self: center;
}

li {
	display: grid;
	grid-template-rows: auto 2rem;
	grid-gap: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

ul a {
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0);
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0);
}
