@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	max-width: 100vw;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: orange;
	font-family: 'Lato', sans-serif;
}

img {
	width: 35rem;
	heigth: 12rem;
	wrap: wrap;
}

iframe {
	width: 40rem;
	height: 25rem;
}

.video {
	align-self: flex-end;
}

a:link {
	text-decoration: none;
	color: purple;
}

ul {
	list-style-type: none;
	font-size: 1.5rem;
	
}

h1 {
	font-size: 3.75rem;
	font-family: 'Ubuntu', sans-serif;
}

h2{
	font-style: italic;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.25rem;
}

.container {
	display: grid;
	grid-template-rows: 8rem 1fr 1fr 3rem;
	background-color: purple;
	height: 100vh;
}

.dates {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	margin-right: 5rem;
	font-style: italic;
}
.dates h4{
	margin-top: 1.5rem;
	
	}

section {
	background-color: lightblue;
	display: grid;
	grid-template-columns: 5fr 5fr;
}

.information {
	background-color: lavender;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: 10rem;
	margin-left: 10rem;
	font-size: 1.5rem;
}

article img {
	align-self: center;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Ubuntu', sans-serif;
	background-color: pink;
}

.tags {
	display: flex;
	flex-direction: rows;
	align-items: flex-end;
}

footer {
	display: flex;
	justify-contant: flex-end;
	align-items: flex-end;
	background-color: yellow;
}