<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" type="text/css" href="./singGenreStylesheet.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- <title>Reviews Per Genre</title> -->
<title th:text="${category.category}"></title>

</head>


<body>
	<div class="container">
		<header>
			<h1
				th:text="'Reviews for Artists in the ' + ${category.category} + ' Genre'"></h1>
		</header>
		<section>

			<ul th:each="review : ${reviews}">
				<li><a th:href="@{/review(id=${review.id})}"><img
						th:src="${review.membersPic}" alt="Band Members" /> </a> <a
					th:href="@{/review(id=${review.id})}" th:text="${review.name}" /></li>
			</ul>

		</section>

		<footer>
			<h3>
				<a th:href="@{genres}" th:text="'Back to Home'" />
			</h3>
		</footer>


	</div>
	<script src="./js/singleGenreApp.js"></script>
</body>
</html>