<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<mvc:resources mapping="/resources/**" location="/resources/" />

<head>
<link rel="stylesheet" type="text/css" href="./allGenresStylesheet.css" />
<title>Genres</title>
</head>

<body>
<div class="container">
	<header>
		<h1>Music Reviews by Genres</h1>
	</header>

	<div>
		<Section>

			<h2>Genres:</h2>
			<ul th:each="category: ${genres}">
				<li><a th:href="@{/category(id=${category.id})}"
						th:text="${category.category}" /></li>
			</ul>

		</Section>

	</div>
</div>
</body>
</html>