<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<mvc:resources mapping="/resources/**" location="/resources/" />
<link rel="stylesheet" type="text/css" href="/singleReview.css" />
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title th:text="${review.name}" />
</head>

<body>
	<div class="container">
		<header>
			<h1 th:text="${review.name}" />
		</header>

		<section>
			<div class="dates">
				<h2 th:text="'Genre: ' + ${review.category.category}" />
				<h3
					th:text="'Year of first studio release: ' + ${review.firstRelease}" />
				<h3
					th:text="'Year of last studio release: ' + ${review.lastRelease}" />
				<h4>Tags:</h4>

				<div id="tagList">
					<ul id="tagList" th:each="tag: ${review.getTags()}">
						<li><a th:href="@{/tag(id=${tag.id})}"
							th:text="'&nbsp;' + ${tag.getTag()}" /></li>
						<!-- <li><a th:href="@{/tags-static}" th:text="'&nbsp;' + ${tag.getTag()}" /></li> -->
					</ul>
				</div>
			</div>

			<div class="video">
				<iframe th:src="${review.youTubeUrl}"> </iframe>
			</div>
		</section>

		<article>
			<div class="information">
				<h2>Behind the Music:</h2>
				<p th:text="${review.content}" />
				<a th:href="${review.footerUrl}">[1] Reference Link</a> <img
					th:src="${review.imageUrl}" alt="Band logo" />
			</div>


			<div id="commentSection">

				<div id="newCommentSection">
					<form id="newCommentForm" method="POST">
						<!-- 						<h4 id="commentSectionHeader" -->
						<!-- 							th:text="'Leave a comment about ' +  ${review.name}" /> -->
						<h4>Leave a comment</h4>
						<div id="userHandleSection">
							<label id="handleBoxLabel">User's Handle:</label> <input
								type="hidden" th:value="${review.id}" name="reviewId" /> <input
								id="userHandle" type="text" name="userHandle" placeholder="Enter Name..." />
						</div>
						<div id="commentDetailsSection">
							<label id="commentBoxLabel" for="commentString">Leave
								Comment:</label> <input type="hidden" th:value="${review.id}"
								name="reviewId" />
							<textarea id="leaveCommentBox" name="commentDetails"
								placeholder="Leave a Comment..."></textarea>
						</div>
						<div>
							<button id="submitButton" th:formaction="@{/add-comment}">Submit
								Comment</button>
						</div>
					</form>
					<div class="tags">
						<div class="tagHeader">
							<h4>Add and Delete Tags from Review:</h4>
						</div>
						<div class="allTagForms">
							<div class="newTagForm">
								<form id="newTagForm" method="POST">
									<label>New Tag:</label><input id="reviewTagId" type="hidden"
										th:value="${review.id}" name="reviewId" /><input
										id="descriptionId" placeholder="New Tag..." type="text" name="tagDescription" />

									<div>
										<button id='addTag' th:formaction="@{/add-tag}">Submit
											Tag</button>
									</div>

								</form>
							</div>
							<div class="deleteTagForm">
								<form id="deleteTagForm" method="POST">
									<label>Remove Tag:</label><input id="removeTagId" type="hidden"
										th:value="${review.id}" name="reviewId" /><input
										id="removeTagDescriptionId" type="text"
										name="tagDeleteDescription" />

									<div>
										<button id='removeTag' th:formaction="@{/remove-tag}">Remove
											Tag</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div id="existingCommentsSection">
					<h4 th:text="${review.name} + ' Comments:'" />
					<div th:each="comment: ${review.getComments()}">
						<p class="userHandle" th:text="${comment.userHandle}"></p>
						<p class="commentDetails" th:text="${comment.commentDetails}"></p>
					</div>
				</div>
			</div>

		</article>

		<footer>
			<h4>

				<a th:href="@{genres}" th:text="'Back to Home'" /> <a
					th:href="@{/category(id=${review.category.id})}"
					th:text="'Back to ' + ${review.category.toString()}" />

			</h4>
		</footer>

	</div>
	<div id="modalBox" class="modal">
		<div class="modal-content">
			<span class="close">x</span>
			<div class="errorResponse">
				<h4>Do better next time!</h4>
				<p>Enter both a name and comment.</p>
			</div>
		</div>

	</div>
	<script src="./js/ajaxTags.js"></script>
	<script src="./js/singleReviewApp.js"></script>
</body>
</html>