<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<mvc:resources mapping="/resources/**" location="/resources/" />
<link rel="stylesheet" type="text/css" href="/singleReview.css" />
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title th:text="${review.name}" />
</head>

<body>
	<div class="container">
		<header>
			<h1 th:text="${review.name}" />
		</header>

		<section>
			<div class="dates">
				<h3 th:text="'Genre: ' + ${review.category.category}" />
				<h4
					th:text="'Year of first studio release: ' + ${review.firstRelease}" />
				<h4
					th:text="'Year of last studio release: ' + ${review.lastRelease}" />
			</div>

			<div class="video">
				<iframe th:src="${review.youTubeUrl}"> </iframe>
			</div>
		</section>

		<article>
			<div class="information">
				<h2>Behind the music:</h2>
				<p th:text="${review.content}" />
				<a th:href="${review.footerUrl}">[1] Reference Link</a> <img
					th:src="${review.imageUrl}" alt="Band logo" />
			</div>


			<h3>Comments:</h3>
			<div th:each="comment: ${review.getComments()}">
				<p class="userHandle" th:text="${comment.userHandle}"></p>
				<p class="commentDetails" th:text="${comment.commentDetails}"></p>
			</div>
			<form id="newCommentForm"  method="POST">
				<h4 id="commentSectionHeader"
					th:text="'Leave a comment regarding ' +  ${review.name}" />
				<div id="userHandleSection">
					<label id="handleBoxLabel">User's Handle:</label> <input
						type="hidden" th:value="${review.id}" name="reviewId" /> <input
						id="userHandle" type="text" name="userHandle" />
				</div>
				<div id="commentDetailsSection">
					<label id="commentBoxLabel" for="commentString">Leave
						Comment:</label> <input type="hidden" th:value="${review.id}"
						name="reviewId" />
					<textarea id="leaveCommentBox" name="commentDetails"
						placeholder="Leave a Comment..."></textarea>
				</div>
				<div>
					<button id="submitButton"  th:formaction="@{/add-comment}">Submit
						Comment</button>
				</div>
			</form>
			



			<div class="tags">
				<h4>Tags:</h4>

				<div id="tagList">
					<ul id="tagList" th:each="tag: ${review.getTags()}">
						<li><a th:href="@{/tag(id=${tag.id})}"
							th:text="'&nbsp;' + ${tag.getTag()}" /></li>
						<!-- <li><a th:href="@{/tags-static}" th:text="'&nbsp;' + ${tag.getTag()}" /></li> -->
					</ul>
				</div>
				<div class="newTagForm">
					<form id="newTagForm" method="POST">
						<div>
							<label>New Tag:</label><input id="reviewTagId" type="hidden"
								th:value="${review.id}" name="reviewId" /><input
								id="descriptionId" type="text" name="tagDescription" />
						</div>
						<div>
							<button id='addTag' th:formaction="@{/add-tag}">Submit
								Tag</button>
						</div>

					</form>
				</div>
				<form id="deleteTagForm" method="POST">
					<label>Remove Tag:</label><input id="removeTagId" type="hidden"
						th:value="${review.id}" name="reviewId" /><input
						id="removeTagDescriptionId" type="text"
						name="tagDeleteDescription" />

					<div>
						<button id='removeTag' th:formaction="@{/remove-tag}">Remove
							Tag</button>
					</div>
				</form>
			</div>

		</article>

		<footer>
			<h4>

				<a th:href="@{genres}" th:text="'Back to home'" /> <a
					th:href="@{/category(id=${review.category.id})}"
					th:text="'Back to ' + ${review.category.toString()}" />

			</h4>
		</footer>

	</div>
	<script src="./js/ajaxTags.js"></script>
</body>
</html>